<footer>
    <div class="container-fluid">
        <div class="container">
            <div class="logo">
                <a routerlink="/home"><img class="w-100" src="assets/images/logo.png" alt=""></a>
            </div>
            
        <div class="footer">
            <div class="fota1">
                <p class="copyright">copyright c 2019 designemy <br>
                    Terms of use Privacy Policy
               </p>
            </div>
            <div class="fota2">
                <p class="follow">Follow Us</p>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter-square"></i>
                <i class="fab fa-linkedin"></i>
                <a class="youtube"> <i class="fab fa-youtube-square"></i></a>  
            </div>
            <div class="fota">
                <p class="address">Gimba road Jimeta Yola, ADAMAWA<br>
                +234957804021<br>
                 designemytop@yahoo.com</p>
            </div>
        </div>
            
        </div>
      </div>
</footer>