.landing-wrap {
  padding: 0;
  height: 100%;
}
.landing-bg {
  background: url(/assets/images/landing.png);
  background-attachment: fixed;
  color: rgb(102, 88, 88);
  text-align: center;
  height: 100%;
}

.fade-bg {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
}
.landing-content {
  color: #fff;
}

.top-txt {
  letter-spacing: .2rem;
}

.landing-title {
  margin: 0;
  font-size: 10rem;
  font-weight: 900;
  letter-spacing: 2rem;
}

.landing-content {
  padding-top: 9rem;
}

.cards {
  height: 50%;
}

.landing-button {
  padding: .8rem 6rem;
  font-size: 1.8rem;
  margin-top: 2rem;
  font-weight: 400;
}

.landing-button:hover {
border: 2px solid #000;
background: transparent;
color: #fff;
transition: 1s;
text-decoration: none;
}

.wrap {
  background: #160d38;
}

.content {
  background: #E8C4E6;
  padding: 2rem;
  
}

.sec {
  margin: 0rem 1rem;
  
  
}

.sub-sec {
  background: #fff;
  /* justify-content: space-between; */
  border-radius: 5px 5px 0px 0px;
  padding: 1rem;
}

.sec-btn {
  background: #160d38;
  text-align: center;
  padding: 1rem 0rem;
  border-radius: 0px 0px 5px 5px;
}

.btn-icon {
  transform: rotate(45deg);

}

.card-body {
  position: relative;
  padding: 2rem;
}

.card-title {
  font-size: 2rem;
}

.card-text {
  padding-bottom: 2rem;
}

.btn {
  position: absolute;
  left: 50%;
  border-radius: 0;
  transform: translate(-50%, -50%);
  
}

.card-bg {
  background: #160d38;
  color: #fff;
}

.card-bg .btn {
  border-color: #fff;
  color: #fff;
}

.sec3-card {
  background: #5E4AAA;
  color: #fff;
}

.section-4 {
  margin:3rem auto;
}

.input-group-text {
  width: 8rem;
  margin: 0;
  background-color: transparent;
  border: none;
}

input,
textarea {
  border-top: none;
  border-left: none;
  border-right: none;
  background: #160d38;
}

.section-5 {
  background: #160d38;
  color: #fff;
  padding: 2rem;
}

span {
  color: #fff;
}

.talk {
  margin: 3rem;
}

.form {
  width: 45%;
}
