.section-one {
  padding: 0;
  height: 100%;
}
.landing-bg {
  background: url(/assets/images/landing.png);
  background-attachment: fixed;
  background-size: cover;
  color: rgb(102, 88, 88);
  text-align: center;
  height: 100%;
}

.fade-bg {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
}
.landing-content {
  color: #fff;
  padding-top: 9rem;
}

.top-txt {
  letter-spacing: .2rem;
  margin-bottom: 2rem;
}

.landing-title {
  margin: 0;
  font-size: 10rem;
  font-weight: 900;
  letter-spacing: 2rem;
}

.lg-btn {
  padding: .8rem 6rem;
  font-size: 1.8rem;
  /* margin-top: 2rem; */
  font-weight: 400;
}

.lg-btn:hover {
border: 2px solid #000;
background: transparent;
color: #fff;
transition: 1s;
text-decoration: none;
}

.section-two {
  background: #fff;
}

.card-wrap-one,
.card-wrap-two {
  box-shadow: none;
  padding: 10rem;
}

mat-card-header {
  margin: 0;
}

.c-title,
.col-talk h3 {
  font-size: 2.5rem;
}

.c-content h4 {
  line-height: 2rem;
} 

.col-talk p {
  font-size: 18px;
}

.card-wrap-two {
  background: #160d38;
  color: #fff;
}

.grid {
  color: #fff;
}


.grid-content {
  color: #fff;
}

.grid-content h3 {
  font-size: 4rem;
}

.grid-content p {
  font-size: 1.5rem;
}

.content {
  background: #E8C4E6;
  padding: 5rem;
}

.sec {
  margin: 0rem 1rem;
}

.sub-sec {
  background: #fff;
  border-radius: 5px 5px 0px 0px;
  padding: 1rem 4rem;
  min-height: 20rem;
  font-size: 3em;
}

.sub-sec p {
  font-size: 1.2rem;
}

.sec-btn {
  background: #160d38;
  text-align: center;
  padding: 1rem 0rem;
  border-radius: 0px 0px 5px 5px;
}

.btn-icon {
  transform: rotate(90deg);
  color: #fff;
}

.btn-icon:hover {
  opacity: .4;
}

.gc-container {
  background: #160d38;
}

.contact-wrap {
  background: url(/assets/images/world.jpg);
  background-size: cover;
  color: #fff;
}

.contact-container {
  background: rgba(0, 0, 0, .8);
}

.card-wrap-three {
  background: transparent;  
  min-width: 80%;
}

.form {
  border: 2px solid #fff;
  border-radius: 0px 0px 5rem 5rem;
  padding: 4rem 3rem;
}

.input-group-text {
  background-color: transparent;
  border: none;
  color: #fff;
}

input,
textarea {
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent;
}