/* .reset * {
  margin: 0;
  padding: 0;
} */

.header {
  padding: 1.3%;
  background-color: #160d38;
}

.main-header-container {
  max-width: 1300px;
  width: 94%;
  margin: 0 auto;
}

.main-header {
display: flex;
align-items: center;
}

.logo {
  width: 60px;
}

.nav1 {
  width: calc(100% - 50px); 
}

.form-inline{
  float: right;
}

.navbar-input {
  display: block;
}

.navbar-input::after {
  clear: both;
  content: "";
  display: table;
}

.navbar-main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 30px 10%; */
}

.list a {
  float: left;
  font-size: 16px;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}  

.nav-item {
  display: inline-block;
  padding-left: 10px;
}

.bisque-tinyline { 
  border-top: 3px solid #ffe4c4;
}

.btn {
  background-color: rgb(221, 141, 155);
  padding: 5px 8%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

