<nav class="topnav navbar navbar-expand-lg">
    <div class=" logo-brandname">
      <a class="logo"><img src="assets/images/logo.png" alt=""></a> 
      <h4>Unveil Arewa</h4>
    </div>
      <div class="dropdown">
        <button class="dropbtn">English
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Hausa</a>
            <a href="#">fulani</a>
            <a href="#">Lunguda</a>
          </div>
      </div>
     
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
      
              <a routerLink="/" class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a routerLink="/register-user" class="nav-link" href="#">Register</a>
            </li>
            <li class="nav-item">
              <a routerLink="/login-user" class="nav-link" href="#" tabindex="-1" aria-disabled="true">Login</a>
            </li>
          </ul>
        </div> 
       
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
            <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
            </svg>
         </button>
        </form>
    </nav> 
  
