.container-fluid {
  background: #e9ecef;
}
.breadcrumb {
  background: transparent;
  padding: 0;
}
.shadows {
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

.shadows:hover {
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,.8);
}

.course {
  margin-top: 7rem;
  text-align: left;
}

.course p {
  margin-bottom: 0;
}

.row-one {
  margin-top: 5rem;
}

.row-two {
  margin-top: 6rem;
  padding-bottom: 5rem;  
}

.review-wrap {
  background: #fff;
}

.review h5{
  font-weight: 600;
  margin-top: 2rem;
}

.comment {
  margin-top: 3rem;
  display: inline-flex;
  gap: 1rem;
}

.comment img {
  height: 2%;
}

.user-comment {
  font-style: italic;
  margin-left: 4.75rem;
  opacity: 0.4;
}

span {
  font-weight: 700;
}