
<!-- Course Section -->
<section class="container-fluid">
  <section class="container  ">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Unveil</a></li>
        <li class="breadcrumb-item"><a href="#">Formal Course</a></li>
        <li class="breadcrumb-item active" aria-current="page">Mathematics</li>
      </ol>
    </nav>
  
    <div class="course">
      <h2>Mathematics</h2>
      <p>Beginners Class</p>
      <p>Complete Course</p>
    </div>

    <!-- row-one -->
    <div class="row row-cols-1 row-cols-md-3 g-4 row-one">
      <div class="col">
        <div class="card h-100 shadows">
          <a routerLink="/course-content"><img src="/assets/images/alg.jpg" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <a routerLink="/course-content"><h4 class="card-title">Algebra</h4></a>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card h-100 shadows">
          <img src="/assets/images/meas.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">Measurement</h4>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card h-100 shadows">
          <img src="/assets/images/stat.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">Statistics</h4>
          </div>
        </div>
      </div>
    </div>
  
    <!-- row-two -->
    <div class="row row-cols-1 row-cols-md-3 g-4 row-two">
      <div class="col">
        <div class="card h-100 shadows">
          <img src="/assets/images/log.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">Logic</h4>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card h-100 shadows">
          <img src="/assets/images/fra.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">Faction</h4>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card h-100 shadows">
          <img src="/assets/images/cal.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">Calculus</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<section class="container-fluid review-wrap">
  <div class="container">
    <section class="review">
      <h5>Course Review</h5>
      <div class="comment">
        <img src="/assets/images/elp.png" alt=""> 
        <p>The formal courses I learnt has helped and set me apart from my peers in school and exposed me to a better idea of the courses.</p>
      </div>
      <p class="user-comment">~Faith Kwandi~ <span>Unveil Graduate</span></p>
  
      <div class="comment">
        <img src="/assets/images/elp2.png" alt=""> 
        <p>The baking skill I learnt on this platform has helped open up doors for me globally, and were a factor in the success of me achieving sustainable livelihood. I'd recommend it to anyone seeking to improve their baking skill.</p>
      </div>
      <p class="user-comment">~Auwal Molinto~ <span>Unveil Graduate</span></p>
    </section>
  </div>
</section>
