<section>
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <div class="container navbar">
      <img class="logo" src="/assets/images/logo.png" alt="">
      <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarToggler">
      <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="container">
      
      <div class="collapse navbar-collapse" id="navbarToggler" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Resources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Solutions</a>
          </li>
         
        </ul>    
      </div>
    </div>
  </div>    
</nav>
</section>