.container {
  margin: 20% auto;
  text-align: center;
}

.bg {
  color: #fff;
  background: #160d38;
}

.bg-buttom {
  margin-bottom:15% ;
}

.btn {
  margin-right: 2rem;
}

.btn-3 {
  margin-right: 0rem;
}






/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .bg-buttom {
    margin-bottom:20% ;
  }

  .btn {
    margin-right: 12rem;
  }

  .btn-3 {
    margin-right: 0rem;
  }

}